@import '../../skins/mixins/index.scss';

.button {

  border: 0;
  cursor: pointer;

  min-height: 20px;
  font-size: setFontSize('h4');
  text-transform: uppercase;
  padding: setSize('normal') setSize('medium');
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.15);

  border-radius: 3px;
  letter-spacing: 3px;

   @include modifier('start') {
    color: setColor('white');
    background: setColor('indigo');

    &:hover {
      transform: translateZ(0);
      -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);
    }
    &:active {
      box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    }
    &:disabled {
      opacity: 0.5;
    }
  }

  @include modifier('retry') {
    color: setColor('white');
    background: setColor('blue-grey');
  }

  @include modifier('next') {
    color: setColor('white');
    background: setColor('teal');
  }
}
