@import '../../../../skins/mixins/index.scss';

.roadPiece {
  width: 100px;
  height: 100px;
  // background-image: url('../../../../../public/images/ground_template.jpg');
  // fill: setColor('light-green');
  stroke: setColor('silver');
}
