@import '../../skins/mixins/index.scss';

.blockly {
    @include flex(row);
    justify-content: center;

    .fill-height {
      width: 700px;
      height: 580px;
    }

    .playground {
      // width 50%;
      width: 700px;
      // height 100%;
      height: 580px;
      z-index: 2;
    }

  @media only screen and (min-width: 1400px) {
    .fill-height {
      width: 900px;
    }

    .playground {
      width: 900px;
    }
  }

  @media only screen and (min-height: 800px) {
    .fill-height {
      height: 900px;
    }

    .playground {
      height: 900px;
    }
  }
}
