@import '../../skins/mixins/index.scss';

.blockly {
    @include flex(row);
    justify-content: center;

    .fill-height {
      width: 700px;
      height: 580px;
    }

    @include element('playground') {
      // width 50%;
      width: 700px;
      // height 100%;
      height: 580px;
      z-index: 2;

      .visualization {
        width: 100%;
        height: 87%;

        background-image: url('../../../public/images/grass_template.jpg');
        // border: 1px solid setColor('purple');
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        svg {
          width: 100%;
          height: 100%;
        }
      }

      .control {
        width: 100%;
        height: 15%;

        @include flex(row);
        justify-content: center;
        align-items: center;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

  @media only screen and (min-width: 1400px) {
    .fill-height {
      width: 900px;
    }

    .playground {
      width: 900px;
    }
  }

  @media only screen and (min-height: 800px) {
    .fill-height {
      height: 900px;
    }

    .playground {
      height: 900px;
    }
  }
}
