@import '../../../../skins/mixins/index.scss';

.character {
  @include element('ferdinand') {
    transform: translate(40%, 50%);
  }
}

.character__quote {
  transform: translate(4%, 30%);
  fill: setColor('silver');
  path {
    transform:
            translate(45%, 8%)
            rotate(-90deg);
  }
  text {
    fill: setColor('cod-gray');
    font-size: setFontSize('h2');
  }
}

.player__quote {
  transform: translate(4%, 15%);
  fill: setColor('silver');
  path {
    transform:
            translate(0%, 1%);
  }
  text {
    fill: setColor('cod-gray');
    font-size: setFontSize('h2');
  }
}
