@import '../../skins/mixins/index.scss';

.modal {
  @include element('background') {
    position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-color: rgba(33, 33, 33, 0.85);
     z-index: 1000;
  }

  @include element('dialog') {
    position: fixed;
    top: 15%;
    left: 30%;
    right: 30%;
    width: 450px;
    min-height: 460px;
    text-align: center;
    background-color: rgba(250, 250, 250, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    z-index: 1001;

    @include modifier('video') {
      top: 12%;
      left: 15%;
      right: 15%;
      bottom: 10%;
      width: 750px;
      height: 480px;
    }
  }

  @include element('header') {
    height: 180px;
    background-image: url('../../../public/images/ferdinand-template.jpg');
    background-repeat: no-repeat;
    background-size: 460px 180px;
  }

  @include element('footer') {
    padding: setSize('small');
  }

  @include element('level') {
    background: setColor('white');
    display: inline-block;
    margin: 150px;
    height: 30px;
    width: 150px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;

    font-size: setFontSize('h3');
    font-weight: setFontWeight('bold');
  }

    @include element('content') {
      @include flex(column);
      align-items: center;
      padding: setSize('medium') setSize('normal2') setSize('normal2') setSize('normal');
      font-size: setFontSize('h5');

      @include modifier('title') {
        text-transform: uppercase;
        font-weight: setFontWeight('semibold');
        font-size: setFontSize('h3');
      }

      @include modifier('items') {
        @include flex(row);
      }

      @include modifier('item') {
        @include flex(column);
        justify-content: center;
        align-items: center;
        padding: setSize('normal');
      }
      @include modifier('item-text') {
        &::first-letter {
          text-transform: uppercase;
        }
      }

      @include modifier('code') {
        width: 100%;
        min-height: 100px;
        background-color: setColor('silver');
      }
    }
}
